/* 首页css */
/* banner轮播 */
.banner{
    height: 500px;
    background-color: #f5f5f5;
}
.banner .wrapper{
    position: relative;
}
/* 侧边导航 */
.banner .aside{
    position: absolute;
    top: 0;
    left: 0;
    width: 251px;
    height: 500px;
    background-color: rgba(0,0,0,.8);
}
.banner .aside li{
    width: 251px;
    height: 50px;
}
.banner .aside li a{
    position: relative;
    display: block;
    width: 251px;
    height: 50px;
    padding-left: 36px;
    line-height: 50px;
    color: #fff;
}
.banner .aside li a:hover{
    background-color: #27ba9b;
}
.banner .aside li a::after{
    content: '';
    position: absolute;
    top: 19px;
    right: 19px;
    width: 6px;
    height: 11px;
    background: url(../images/sprites.png) no-repeat  -80px -110px;
}
.banner .aside li a span{
    font-size: 14px;
}
.banner .aside li a span:first-child{
    margin-left: 15px;

}
/* 箭头 */
.prev,
.next{
    position: absolute;
    top: 228px;
    width: 45px;
    height: 44px;
    background: url(../images/sprites.png) no-repeat;
    background-color:rgba(0,0,0,.2);
    border-radius: 50%;
}
.prev{
    left: 260px;
    background-position: 15px -60px;
}
.next{
    right:10px;
    background-position: -22px -60px;
}

/* 底部圆点 */
.banner .wrapper ol{
    position: absolute;
    left: 680px;
    bottom: 31px;
    height: 10px;
}
.banner .wrapper ol li{
    float: left;
    width: 9px;
    height: 10px;
    margin-right: 16px;
    background-color: rgba(255,255,255,.4);
    border-radius: 50%;
    cursor: pointer;
}
.banner .wrapper ol li.active{
    background-color: #fff;
}
/* 新鲜好物 */
.goods .hd{
    position: relative;
    height: 29px;
    margin: 48px 0 37px 0;
}
.goods .hd h3{
    float: left;
    height: 29px;
    font-size: 29px;
    /* 清除默行高，取消上下间距 */
    line-height: 1;
    font-weight: normal;
    color: #333;
}
.goods .hd h3 span{
    margin: 11px 0 2px 34px;
    font-size: 16px;
    font-weight: 400;
    color: #999;
}
.goods .hd a{
    float: right;
    margin: 11px 20px 2px 0;
    line-height: 1;
    font-size: 16px;
    color: #999;
}
.goods .hd a::after{
    content: '';
    position: absolute;
    top: 14px;
    right: 2px;
    width: 7px;
    height: 13px;
    background: url(../images/sprites.png) no-repeat 0 -110px;
}
.goods .bd ul li{
    position: relative;
    float: left;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
    margin-right: 8px;
    text-align: center;
    line-height: 1;
}
.goods .bd ul li:nth-child(4n){
    margin-right: 0;
}
.goods .bd ul li img{
    width: 100%;
}
.goods .bd  li .news{
    position: absolute;
    top: 18px;
    left: 17px;
    width: 28px;
	height: 51px;
    border: 1px solid #27ba9b;
    border-radius: 2px;
}
.goods .bd  li .news span{
    display: block;
    width: 18px;
    height: 36px;
    margin: 7px 6px 8px 4px;
    line-height: 1;
    font-size: 18px;
    font-weight: normal;
    color: #27ba9b;
}
.goods .bd  li h3{
    margin: 22px 0 19px;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}
.goods .bd  li .money{
    font-size: 17px;
    color: #9a2e1f;
}
.goods .bd  li .money span{
    font-size: 23px;
}