/* 首页css */
/* banner轮播 */
.banner{
    height: 500px;
    background-color: #f5f5f5;
}
.banner .wrapper{
    position: relative;
}
/* 侧边导航 */
.banner .aside{
    position: absolute;
    top: 0;
    left: 0;
    width: 251px;
    height: 500px;
    background-color: rgba(0,0,0,.8);
}
.banner .aside li{
    width: 251px;
    height: 50px;
}
.banner .aside li a{
    position: relative;
    display: block;
    width: 251px;
    height: 50px;
    padding-left: 36px;
    line-height: 50px;
    color: #fff;
}
.banner .aside li a:hover{
    background-color: #27ba9b;
}
.banner .aside li a::after{
    content: '';
    position: absolute;
    top: 19px;
    right: 19px;
    width: 6px;
    height: 11px;
    background: url(../images/sprites.png) no-repeat  -80px -110px;
}
.banner .aside li a span{
    font-size: 14px;
}
.banner .aside li a span:first-child{
    margin-left: 15px;

}
/* 箭头 */
.prev,
.next{
    position: absolute;
    top: 228px;
    width: 45px;
    height: 44px;
    background: url(../images/sprites.png) no-repeat;
    background-color:rgba(0,0,0,.2);
    border-radius: 50%;
}
.prev{
    left: 260px;
    background-position: 15px -60px;
}
.next{
    right:10px;
    background-position: -22px -60px;
}

/* 底部圆点 */
.banner .wrapper ol{
    position: absolute;
    left: 680px;
    bottom: 31px;
    height: 10px;
}
.banner .wrapper ol li{
    float: left;
    width: 9px;
    height: 10px;
    margin-right: 16px;
    background-color: rgba(255,255,255,.4);
    border-radius: 50%;
    cursor: pointer;
}
.banner .wrapper ol li.active{
    background-color: #fff;
}
/* 新鲜好物 */
.goods .hd{
    position: relative;
    height: 29px;
    margin: 48px 0 37px 0;
}
.goods .hd h2{
    float: left;
    height: 29px;
    font-size: 29px;
    /* 清除默行高，取消上下间距 */
    line-height: 1;
    font-weight: normal;
    color: #333;
}
.goods .hd h2 span{
    margin: 11px 0 2px 34px;
    font-size: 16px;
    font-weight: 400;
    color: #999;
}
/* 查看全部通用css样式 */
.goods .hd>a{
    float: right;
    margin: 10px 20px 0 0;
    line-height: 1;
    font-size: 16px;
    color: #999;
}
.goods .hd>a::after{
    content: '';
    position: absolute;
    top: 12px;
    right: 2px;
    width: 7px;
    height: 13px;
    background: url(../images/sprites.png) no-repeat 0 -110px;
}
.goods .bd ul li{
    position: relative;
    float: left;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
    margin-right: 8px;
    text-align: center;
    line-height: 1;
}
.goods .bd ul li:hover{
    top: -3px;
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
}
.goods .bd ul li:nth-child(4n){
    margin-right: 0;
}
.goods .bd ul li img{
    width: 100%;
}
.goods .bd  li .news{
    position: absolute;
    top: 18px;
    left: 17px;
    width: 28px;
	height: 51px;
    border: 1px solid #27ba9b;
    border-radius: 2px;
}
.goods .bd  li .news span{
    display: block;
    width: 18px;
    height: 36px;
    margin: 7px 6px 8px 4px;
    line-height: 1;
    font-size: 18px;
    font-weight: normal;
    color: #27ba9b;
}
.goods .bd  li h3{
    margin: 22px 0 19px;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}
.goods .bd  li .money{
    font-size: 17px;
    color: #9a2e1f;
}
.goods .bd  li .money span{
    font-size: 23px;
}
/* 生鲜 */
.fresh .hd {
    position: relative;
    height: 28px;
    margin: 34px 0 29px 0;
    line-height: 1;
}
.fresh .hd  h2{
    float: left;
    font-size: 29px;
    font-weight: normal;
}

.fresh .hd>a{
    float: right;
    margin: 10px 20px 0 59px;
    line-height: 1;
    font-size: 16px;
    color: #999;
}
.fresh .hd>a::after{
    content: '';
    position: absolute;
    top: 12px;
    right: 2px;
    width: 7px;
    height: 13px;
    background: url(../images/sprites.png) no-repeat 0 -110px;
}
.fresh .hd  ul{
    float: right;
    margin-top: 8px;
    font-size: 16px;
}
.fresh .hd  ul li{
    float: left;
    margin-left: 6px;
    padding: 2px 7px;
}
.fresh .hd  ul li:hover{
    background-color: #27ba9b;
}
.fresh .bd .left{
    float: left;
    width: 240px;
	height: 617px;
}
.fresh .bd .left img{
    margin: 5px 0 2px 0;
}
.fresh .bd .right {
    float: left;
    width: 1000px;
}
.fresh .bd .right .list{
    margin-top: 5px;
}
.fresh .bd .right .list li{
    position: relative;
    overflow: hidden;
    float: left;
    width: 242px;
	height: 304px;
    margin: 0 0 3px 8px;
    border:2px solid transparent;
}
.fresh .bd .right .list li:nth-child(n+5){
    margin-bottom: 1px;
}
.fresh .bd .right .list li .image{
    width: 184px;
	height: 184px;
    margin: 8px 29px 12px;
}
.fresh .bd .right .list li .image img{
    width: 100%;
}
.fresh .bd .right li .info{
    margin-left: 29px;
    line-height: 1.25;
}
.fresh .bd .right li .info h3{
    font-size: 16px;
    font-weight: normal;
}
.fresh .bd .right li .info .price{
    margin-top: 5px;
    font-size: 22px;
    color: #9a2e1f;
}
.fresh .bd .right li .info .price span{
    font-size: 17px;
}
.fresh .bd .right .list li .find{
    position: absolute;
    left: 0;
    bottom: -84px;
    width: 242px;
	height: 84px;
    background-color: #27ba9b;
    line-height: 1;
    text-align: center;
    transition: bottom .3s;
}
.fresh .bd .right .list li .find p:first-child{
    margin: 19px 0 7px ;
    font-size: 18px;
    color: #ffffff;
}
.fresh .bd .right .list li .find p:nth-child(2){
    margin: 0 auto;
    width: 125px;
	height: 2px;
    background-color: #a9dbcc;
}
.fresh .bd .right .list li .find p:last-child{
    margin: 8px 0 17px 0;
    font-size: 13px;
    color: #fff;
}
.fresh .bd .right .list li:hover{
    border-color: #27ba9b;
}
.fresh .bd .right .list li:hover .find{
    bottom: 0;
}

/* 最新专题  */
.topic{
    overflow: hidden;
    height: 512px;
    margin-top: 35px;
    background-color: #f5f5f5;
    line-height: 1;
}
.topic .hd{
    position: relative;
    height: 44px;
    margin: 44px 0 27px;
}
.topic .hd h2{
    float: left;
    font-size: 29px;
    font-weight: 400;
}
.topic .hd>a{
    float: right;
    margin: 28px 20px 0 0;
    color: #999;
}
.topic .hd>a::after{
    content: "";
    position: absolute;
    top: 30px;
    right: 1px;
    width: 7px;
	height: 13px;
    background: url(../images/sprites.png) no-repeat 0 -110px;
}
.topic .bd li{
    position: relative;
    float: left;
    margin-right: 14px;
    width: 404px;
    height: 356px;
}
.topic .bd li:last-child{
    margin-right: 0;
}
.topic .bd li img{
    width: 404px;
    height: 288px;
    background-color: #fff;
}
.topic .bd li .info h3{
    position: absolute;
    top: 222px;
    left: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.topic .bd li .info .type{
    position: absolute;
    top: 255px;
    left: 14px;
    color: #999;
}
.topic .bd li .info .price{
    position: absolute;
    top: 233px;
    right: 15px;
    width: 81px;
	height: 27px;
    background-color: #fff;
    text-align: center;
    line-height: 27px;
    font-size: 17px;
    color: #9a2e1f;
}
.topic .bd li .info .price span{
    font-size: 14px;
}
.topic .interact {
    height: 67px;
    background-color: #fff;
    font-size: 14px;
    line-height: 67px;
  }
.topic .interact span:nth-child(1) {
    margin-left: 17px;
  }
.topic .interact span:nth-child(2) {
    margin-left: 24px;
  }
.topic .interact span:nth-child(3) {
    float: right;
    margin-right: 18px;
  }
.topic .interact span::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../images/sprites.png') no-repeat;
    vertical-align: middle;
  }
  
  .topic .interact span:nth-child(1)::before {
    background-position: -119px -109px;
  }
  
  .topic .interact span:nth-child(2)::before {
    background-position: -159px -109px;
  }
  
  .topic .interact span:nth-child(3)::before {
    background-position: -199px -109px;
  }

